#style.css

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('Loading_Aurora_Crash_Screen.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 30px;
    color: rgb(30, 199, 211);
}



